.card {
  background-color: #e9f5e3;
  border: 1px solid #cce3c2;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 600px;
}

.card-content h2 {
  color: #3a5a40;
}

.btn:hover {
  background-color: #3a5a40;
}

.btn.danger {
  background-color: #bc4749;
}

.btn.warn {
  background-color: #7e9578;
}

.btn.secondary {
  background-color: #6c757d;
}