{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
<div class="login-wrapper">
  <div class="logo-box">
    <img
      src="{% static 'images/chefs-book-main-logo.png' %}"
      alt="Chefs Book Logo"
    />
  </div>

  {% if not user.is_authenticated %}
  <form action="{% url 'home' %}" method="post" class="login-form">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
  {% endif %}
</div>
{% endblock %}
