html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  background-color: #f8fdf9;
  color: #2f3e34;
  margin: 0;
  padding: 0;
}

header,
nav {
  width: 100%;
  color: white;
  padding: 0.5rem 1rem;
}

nav {
  margin: 10px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #a3b18a;
}

.header-logo-container img {
  height: 80px;
  width: auto;
  object-fit: contain;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a,
nav ul li button {
  text-decoration: none;
  color: white;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

nav ul li button:hover,
nav ul li a:hover {
  text-decoration: none;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #588157;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.btn:hover {
  background-color: #3a5a40;
}

.btn.danger {
  background-color: #bc4749;
}

.btn.warn {
  background-color: #7e9578;
}

.btn.secondary {
  background-color: #6c757d;
}