/* home.css */
.logo-container {
  text-align: center;
  margin-top: 2rem;
}

.logo-container img {
  width: 200px;
  height: auto;
}

.login {
  background-color: #dde5d3;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  margin: 2rem auto;
  text-align: center;
}

.login h1 {
  color: #344e41;
}